.DS_Store
node_modules
/build
/.svelte-kit
/package
.turbo
.vite
.parcel-cache
.idea
.vscode/*.code-workspace
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src-tauri/target
src-tauri/gen
src-tauri/*.log
target
*.rs.bk
